h1
{font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px  blue;
font-size: px;
color: black;}

h2
{font-family: comic sans-serif;
color: blue;
font-size: 12px;}

h3
{ color: blueviolet;}
p:nth-child(6){
    text-align:right;
}
span{ color : blue }